/node_modules
**/.DS_Store
/data
/.env
/output
/dist
/dist-server
*.tsbuildinfo
server/**/*.js
server/**/*.d.ts
vite.config.js
vite.config.d.ts

# UI test artifacts
/allure-results
/tests/ui/artifacts
/tests/ui/tests

# Build artifacts
/scanner-report
/.scannerwork
/creator/app/__pycache__
/creator/app/routers/__pycache__
